* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior:smooth;
  }
  

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #f9f7f1;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    font-family: 'Georgia', serif;
    font-size: 22px;
    font-weight: bold;
    color: #b9924a;
    letter-spacing: 2px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #1b1b1b;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: color 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  nav ul li a:hover {
    color: #b9924a;
  }
  
  /* Icons and search */
  .icon-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    color: #222;
  }
  
  .icon-bar i {
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .icon-bar i:hover {
    color: #b9924a;
  }
  
  .vertical-divider {
    height: 20px;
    width: 1px;
    background-color: #ccc;
  }
.men-section {
    padding: 60px 40px;
    background-color: #fdfdfd;
    text-align: center;
  }
  
  .men-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: bold;
    color: #333;
  }
  
  .men-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
  }
  
  .product-card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    padding: 20px;
    transition: transform 0.3s ease;
    max-width: 300px;
  }
  
  .product-card:hover {
    transform: translateY(-5px);
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .product-card h3 {
    margin-top: 15px;
    font-size: 1.2rem;
    color: #222;
  }
  
  .product-card p {
    margin: 8px 0;
    color: #555;
    font-weight: bold;
  }
  .product-card a {
    margin: 8px 0;
    color: #555;
    font-weight: bold;
    
  }
  
  .buy-now-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .buy-btn:hover {
    background-color: #444;
  }
  
footer {
    background-color: #242424;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}
footer p {
    color: #ffffff;
}