* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #fafafa;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #f9f7f1;
  border-bottom: 1px solid #ddd;
}
.logo {
  font-family: 'Georgia', serif;
  font-size: 22px;
  font-weight: bold;
  color: #b9924a;
  letter-spacing: 2px;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: color 0.3s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav ul li a:hover {
  color: #b9924a;
}

h2 {
  text-align: center;
  margin: 40px 0 20px;
  font-size: 2rem;
}
html {
  scroll-behavior:smooth;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 0 40px 40px;
}

.product-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  padding: 15px;
}
.product-card:hover {
  transform: translateY(-5px);
}


.product-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.product-card h3 {
  margin: 15px 0 5px;
  font-size: 18px;
}

.product-card p {
  color: #4CAF50;
  font-weight: bold;
}