body {
    font-family: 'Segoe UI', sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #f9f7f1;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    font-family: 'Georgia', serif;
    font-size: 22px;
    font-weight: bold;
    color: #b9924a;
    letter-spacing: 2px;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #1b1b1b;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    transition: color 0.3s;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  nav ul li a:hover {
    color: #b9924a;
  }
  h2 {
    text-align: center;
    margin: 30px 0;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .formal-products {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 40px 40px;
  }
  .formal-item {
    display: flex;
    gap: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    padding: 20px;
    align-items: center;
  }
  .formal-item img {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
  }
  .formal-info {
    flex: 1;
  }
  .formal-info h3 {
    margin-bottom: 10px;
  }
  .formal-info p {
    margin-bottom: 8px;
    color: #555;
  }
  .formal-info .price {
    font-weight: bold;
    color: #4CAF50;
  }